<div class="img-height">
    <img [src]= 'fImgUrl'class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>{{name}}</h4>
    <p>{{price| currency:'	&#36;'}}</p>
    <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    <a  routerLink="/Favorite" class="favorite-link portfolio-lightbox preview-link" title="Favorite"><i class="	fa fa-heart"></i></a>
    </div>
  </div>
