  
    <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/Home">Home</a></li>
          <li><a class="nav-link scrollto loginSignout" (click)="loginSignout" routerLink="/Login-Signup">Register</a></li>
          <li><a class="nav-link scrollto " routerLink="/Favorite">Favorite</a></li>
          <li><a class="nav-link scrollto " routerLink="/cart"><i class="fa fa-shopping-cart" style="font-size:1.25rem"></i></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
