<section style="margin-top:calc(-100vh/2) " id="values" class="values ">
    <div class="container">

      <div class="row">
        <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card" >
            <img src="{{cImgUrl}}" alt="">
            <div class="card-body">
              <h5 class="card-title"><a href="">{{name}}</a></h5>
              <p class="card-text">Number <b>15 x</b> item</p>
              <p class="card-text">Price <b>{{price}}</b> </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
