
        <section *ngIf="cartItems.length > 0" id="portfolio" class="portfolio">
        <div class="section-title">
          <div class="container">
          <h2>Your Cart items</h2>
        </div>
          </div>
        </section>
  <app-cart-item style="margin-left:calc(100vh/10) ;" *ngFor="let item of cartItems"
  [cartItem] ="item"></app-cart-item>
  <div  style="margin-top:calc(-100vh/7) ;"  class="alert alert-info totalItemsPreview"> <strong>Total buying product = {{cartTotal | currency:'	&#36;'}}</strong> </div>
  <div ><a style="float: right;" routerLink="/navbar/Home"><button class="returnHome">Continue Shopping</button></a></div>

