<div>
    <div class="member">
        <div class="member-img">
            <img [src]='imgMember' class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
        </div>
    <div class="member-info">
    <h4>William Anderson</h4>
    <span>CTO</span>
    </div>
    </div>
</div>