<app-navbar></app-navbar>
  <div *ngIf="favoriteItems.length == 0" class="alert alert-info">Your Cart is Empty</div>

  <section *ngIf="favoriteItems.length > 0" id="portfolio" class="portfolio">
      <div class="container">
  
        <div class="section-title">
          <h2>Your Favorite items</h2>
          <!-- <p>Magnam dolores commodi suscipit onsequatur ex aliquid fuga eum quidem</p> -->
        </div>
  
        <div class="row portfolio-container">
          <app-favorite-style
           class="col-lg-4 col-md-6 portfolio-item filter-Man"
           *ngFor="let item of favoriteItems"
           [fImgUrl]="item.fImgUrl"
           [price] ="item.price"
           [name]="item.name"
           ></app-favorite-style>
  
        </div>
  
      </div>
      
  </section>
  
